// Carousel Styles
// ~~~~~~~~~~~~~~~

.hai-carousel {
  display: flex;
  min-height: 460px;
  &-arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 0 40px;
    margin-top: 40px;
    user-select: none;
    width: 72px;
    &-icon {
      font-size: 64px !important;
    }
  }
  &-body {
    flex: 1;
    flex-direction: row;
  }
  &-header {
    padding-bottom: 40px;
    display: flex;
    flex: 1;
  }
  &-title {}
  &-dots {
    align-items: center;
    display: flex;
    margin-left: auto;
  }
  &-dot {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10px;
    margin-right: 14px;
    width: 10px;
    &.is-active {
      background: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-items {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }
  &-item {
    cursor: pointer;
    max-width: 224px;
    &:hover {
      .hai-carousel-item-cover:before {
        opacity: 1;
      }
    }
    &-cover {
      background: #000;
      height: 283px;
      width: 224px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      &:before {
        background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
        content: "";
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition-duration: .2s;
        position: absolute;
        z-index: 1;
      }
      &-heart {
        position: absolute;
        top: 8px;
        right: 8px;
        height: 24px;
        width: 24px;
        z-index: 2;
      }
    }
    &-details {
      height: 94px;
      padding-top: 24px;
    }
    &-title {
      max-height: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &-context {}
  }
}
