/*

  Hai Styles
  ~~~~~~~~~~

*/

@import 'reset';
@import 'typography';
@import 'icons';

body {
  background: #1A1A1A;
  color: #fff;
  font-family: 'helvetica Neue', Helvetica, sans-serif;
}

.hai-window {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
