// Typography Styles
// ~~~~~~~~~~~~~~~~~

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 34px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}
